# Local virtual environments
.venv-gamma/
.venv-zsceval/
.zsc-gamma/
.zsc-zsceval/

# Model checkpoints / weights
*.pt
*.pth
*.ckpt
*.pickle
*.json
*.csv

# TensorBoard logs
**/events.out.tfevents.*

# 실험 결과 폴더 전체를 제외하고 싶다면
results/